<div ng-include="'components/navbar/navbar.html'"></div>

<div class="col-md-12">
    <h1>Image Panel</h1>

    <div id="video-box">
        <div id="xvideo-glass" class="video-glass" ng-show="showCarousel" ng-click="glassClick($event)">
            <div class="ximage-panel">
                <div class="xfloat-wrap">
                    <img ng-repeat="idx in imagesIdx"
                         class="xpa-img"
                         ng-click="imageClick(idx, $event)"
                         ng-class="isSelected(idx)"
                         src='http://placehold.it/100x100&text=image{{idx}}'>
                </div>

            </div>
        </div>
    </div>


</div>

<!--

-->