<div class="row">
    <div class="col-sm-offset-2 col-sm-8">
        <div class="image-panel">
            <div class="float-wrap">
                <img ng-repeat="image in items"
                     class="product-icon"
                     ng-class="isSelected($index)"
                     ng-click="imageClick($index, $event)"
                     ng-src="{{image.imageurl}}">

                <div class="product-icon new-icon"
                     ng-click="imageClick(-1, $event)"
                     ng-class="isNewSelected()">
                    <i class="glyphicon glyphicon-plus"></i> New
                </div>
            </div>
        </div>
    </div>
</div>

<form
    name="product.form"
    ng-keyup="$event.keyCode == 13 && onSubmit(product.form)"
    ng-submit="onSubmit(product.form)">

    <div>
        <div class="col-sm-offset-2 col-sm-8">
            <h1>Product</h1>
                <div
                      sf-schema="schema"
                      sf-form="form"
                      sf-model="model"
                      class="form-horizontal make-form-horizontal">
                </div>
        </div>
    </div>

</form>

<div class="row margin-top-10">
    <div class="col-md-10 text-right">
        <!-- <input type="submit" class="btn btn-lg" value="Submit"> -->
        <button class="btn btn-lg" ng-click="deleteProduct()">Delete Product <i class="fa fa-trash"></i></button>
        <button class="btn btn-primary btn-lg"
                ng-disabled="items.length===0"
                ng-click="next()"
                >Next: Publish Video <i class="glyphicon glyphicon-chevron-right"></i>
        </button>
    </div>
</div>

<div ng-if="config_debug" >
    <button class="btn btn-lg" ng-click="fillSampleData()">Fill Sample Data</button>
    <pre>{{items}}</pre>
    <pre>selectedImage: {{selectedImage}}</pre>
    <pre>valid: {{product.form.$valid}} {{product.form.$pristine}}</pre>
</div>