$image-frame-size: 4px;
$image-frame-size-half: 2px;

.jwplayer {
  position: relative;
}

.jwplayer .video-glass {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: transparent;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  //opacity: 0.15;
  text-align: center;
  z-index: 11; /* 1px higher than the overlay layer */
  pointer-events: none;
}

.jwplayer .image-panel {
  width: 90%;
  height: 20%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 45px;
  opacity: 0.85;

  //background-color: orange;
  padding-top: $image-frame-size;
  padding-bottom: $image-frame-size;
  padding-left: $image-frame-size;

  overflow: hidden;
  z-index: 11; /* 1px higher than the overlay layer */

}

.float-wrap {
  width: 10000px;
  height: 100%;
  //border:1px solid;
  /* causes .float-wrap's height to match its child divs */
  overflow: auto;
}

.jwplayer .image-panel .pa-img {
  height: 100%;
  margin-right: $image-frame-size;

  pointer-events: auto;
  cursor: pointer;
  box-sizing: border-box;
}

.jwplayer .image-panel .selected-img {
  border: 3px solid black !important;
}


.p-hidden {
  visible: hidden;
  opacity: 0;
  -webkit-transition: visibility 1s, opacity 1s;
  -moz-transition: visibility 1s, opacity 1s;
  -o-transition: visibility 1s, opacity 1s;
  transition: visibility 1s, opacity 1s;
}