<div ng-include="'components/navbar/navbar.html'"></div>

<div class="col-md-12">
    <h1>JWPLayer Embed v</h1>
    <div id='playerADWzMGbKsCCQ'>
    </div>

    <div id="video-glass" class="video-glass" ng-show="showCarousel" ng-click="glassClick($event)">
        <div class="image-panel">
            <div class="float-wrap">
                <img ng-repeat="image in images"
                     class="pa-img"
                     ng-class="isSelected($index)"
                     ng-click="imageClick($index, $event)"
                     ng-src="{{image.imageurl}}">
            </div>
        </div>
    </div>

    <h3>API</h3>
    <button ng-click="toggleCarousel()">Toggle Carousel</button>
</div>

<!--
                     ng-class="isSelected(idx)"
-->